body{
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    background-color: #FFEFE3;
    overflow: hidden
}

button{
    font-family: "Readex Pro", sans-serif;
}

p{
    display: inline;
}

#version{
    font-size: 2.1vh;
    position: absolute;
    bottom: 2.615vh;
}

#info{
    height: 2.615vh;
    width: 2.615vh;
    border-radius: 100%;
    background-color:rgba(34, 148, 230, 0.706);
    color: white;
    text-align: center;
    display: inline-block;
    cursor: default;
}

#info:hover{
    background-color:rgba(34, 148, 230);
}

#content{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
}

.column{
    height: 98%;
}

#column-1{
    width: 25%;
    padding-left: 5.23vh;
}

#column-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#column-3{
    width: 25%;
    padding-right: 5.23vh;
    text-align: right;
}

.transparent{
    opacity: 0;
}

#supply-list{
    height: 55%;
    display: flex;
    flex-direction: column-reverse;
}

.debug-menu{
    position: absolute;
    width: 150px;
    padding: 20px;
    text-align: right;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.card-section-title{
    font-size: 3.7vh;
}

.card-container{
    padding: 1.046vh;
    margin: 0.941vh 0;
    text-align: left;
    width: 29.19vh;
    height: 8.86vh;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.45));
    background-color: white;
    border: none;
    line-height: 1.4;
}

.card-title{
    font-size: 2.6vh;
    filter: none;
    z-index: 2;
    font-family: "Kiwi Maru", serif;
}

.card-price{
    font-size: 2.1vh;
    color: red;
    filter: none;
    z-index: 2;
    font-family: "Readex Pro", sans-serif;
}

.card-img{
    filter: none;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: auto;
    z-index: 1;
    mix-blend-mode: darken;
}

.card-container:hover{
    background-color: rgb(244, 255, 181);
}

.disabled{
    background-color: rgb(197, 197, 197);
    filter: grayscale(100%) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.45));
}

.disabled:hover{
    background-color: rgb(197, 197, 197);
}

#tooltip{
    position: absolute;
    opacity: 0;
    min-width: 150px;
    min-height: 20px;
    max-width: 350px;
    padding: 2.09vh;
    background-color: #9CCFFF;
    z-index: 50;
    line-height: 1.7;
    border-radius: 3.138vh;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.45));
}

#tooltip-text{
    white-space: pre-line;
}

#tooltip-button{
    margin-top: 1vh;
}

#bread-list{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#bread-list-title{
    padding-top: 4px;
    padding-bottom: 6px;
}

.timer{
    font-size: 3vh;
    margin-bottom: 1vh;
    overflow: hidden;
    white-space: nowrap;
}

.small-timer{
    font-size: 120%;
}

.card-price{
    width: 100%;
    height: 30%;
}

.bc-symbol-span{
    height: 100%;
}

.bc-symbol{
    filter: none;
    height: 90%;
    width: auto;
    position: relative;
    top: 10%;
}

#bread-coin{
    font-size: 6.3vh;
    height: 6.27vh;
    display: flex;
}

#bc-container{
    height: 9.56vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2.09vh;
    z-index: 10;
}

.punch{
    animation: punch 0.3s;
    -webkit-animation: punch 0.3s;
}

@keyframes punch {
    50% {font-size: 28px;}
}

#bc-num{
    display: flex;
    justify-content: end;
}

#bc-anim{
    position: absolute;
    color: rgb(118, 184, 18);
    z-index: -1;
    opacity: 0;
}

.float{
    animation: float-down 0.6s 1 ease-out;
    -webkit-animation: float-down 0.6s 1 ease-out;
}

#background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.tile-bg{
    position: absolute;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
    height: 100%;
}

#tile-1{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#tile-3{
    right: 0;
}

#shadow{
    position: absolute;
    height: 100%;
}

#floating-text{
    color: red;
    font-size: 45px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.activated{
    animation: flash 0.5s 1 ease-in-out;
    -webkit-animation: flash 0.5s 1 ease-in-out;
}

#speech-bubble-container{
    position: absolute;
    bottom: 0%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.45));
}

#speech-bubble{
    margin-top: 40px;
    opacity: 0;
    min-width: 100px;
    min-height: 20px;
    max-width: 350px;
    padding: 20px;
    background-color: #9CCFFF;
    line-height: 1.7;
    border-radius: 30px;
    text-align: center;
}

#speech-bubble-tail{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #9CCFFF;
    opacity: 0;
}

.float-up{
    animation: float-up 1s 1 ease-out;
    -webkit-animation: float-up 1s 1 ease-out;
}

.float-up-tail{
    animation: float-up-tail 1s 1 ease-out;
    -webkit-animation: float-up-tail 1s 1 ease-out;
}

.br{
    padding: 10px 0;
}

#trophy{
    height: 25px;
    padding-right: 5px;
}

@keyframes flash {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes float-up {
    0%{
        opacity: 1;
        margin-top: 30px;
    }
    10%{
        opacity: 1;
    }
    60%{
        margin-top: 15px;
    }
    80%{
        opacity: 1;
        margin-top: 15px;
    }
    100%{
        opacity: 0;
        margin-top: 15px;
    }
}

@keyframes float-up-tail {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes float-down {
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        padding-top: 60px
    }
}

