#envelope-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    pointer-events: none;
}

#small-envelope{
    position: absolute;
    bottom: -15vh;
    margin: 0px;
    width: 15vh;
    transform: rotate(45deg);
    pointer-events: auto;
}

.small-envelope-bg-image{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.45)) drop-shadow(0px 0px 5px yellow);
}

#big-envelope{
    transform: translateY(100vh);
    height: 70vh;
    margin-top: -15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-envelope-bg-image{
    position: relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.45));
}

.envelope-card{
    position: absolute;
    width: 60vh;
    height: 46vh;
    margin-top: 12vh;
    background-color: white;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.45));
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 0% 100%;
    transition: opacity 1s ease-in-out;
}

.envelope-card-body{
    font-size: 2.3vh;
    line-height: 3.5vh;
    width: 90%;
}

.dating-card{
    pointer-events: none;
    position: absolute;
    width: 60vh;
    height: 20vh;
    margin-top: 12vh;
    background-color: white;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.45));
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 0% 100%;
    opacity: 0;
}

#dating-card-0{
    transition: opacity 1s ease-in;
}

.dating-card-body{
    font-size: 2.3vh;
    line-height: 3.5vh;
    width: 90%;
}

.dating-inner-border{
    padding: 2vh;
    border: 0.6vh solid #92D2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    height: 64%;
}

.title-card{
    position: absolute;
    padding: 1vh;
    background: #c6e2f5;
    font-size: 2.3vh;
    top: -3vh;
    border: 0.6vh solid #c6e2f5;
    border-radius: 2vh;
    left: 3vh;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.45));
}

.dating-cursor {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 1vh 1.5vh 1vh;
    border-color: transparent transparent #92D2FF transparent;
    transform: rotate(90deg);
    position: absolute;
    bottom: 3vh;
    right: 3vh;
    animation: cursor-pump 1s infinite cubic-bezier(0.37, 0, 0.63, 1);
    -webkit-animation: cursor-pump 1s infinite cubic-bezier(0.37, 0, 0.63, 1);
}

.dating-button{
    line-height: inherit;
    background-color: #868686;
    min-width: 8vh;
    margin: 1vh 0;
}

.dating-button:after{
    background-color: #c3c3c3;
}

.dating-card-buttons{
    height: 35vh;
    width: 50vh;
}

.env-inner-border{
    width: 85%;
    height: 78%;
}

.env-line{
    margin: 1.1vh 0;
}

.env-line-centered{
    width: 100%;
    text-align: center;
}

.env-survey {
    font-size: 3.5vh;
}

.env-line-signature{
    margin-bottom: 0.3vh;
}

.envelope-inner-border{
    padding: 2vh;
    border: 0.8vh solid #92D2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80%;
}

.dough-logo{
    width: 4.5vh;
    margin-left: .4vh;
    margin-bottom: -.3vh;
}

.env-buttons-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dating-buttons-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    line-height: normal;
    align-items: center;
}

.env-buttons-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.envelope-timer-div{
    margin-left: 1vh;
}

.env-button{
    background-color: #4c9d27;
    min-width: 8vh;
}

.env-button:after{
    background-color: #6EE835;
}

.env-button-2{
    background-color: #c54141;
}

.env-button-2:after{
    background-color: #ef5c5c;
}
  
#envelope-timer{
    width: 3vh;
}

.crossed-line{
    height: .5vh;
    position: fixed;
    margin-left: -14vh;
    margin-top: .9vh;
}

.timer-spin{
    animation: timer-spin .6s ease-in;
    -webkit-animation: timer-spin .6s ease-in;
}

.timer-move{
    z-index: 100000;
    position: absolute;
    animation: timer-move .6s ease-out;
    -webkit-animation: timer-move .6s ease-out;
}

.envelope-logo-div{
    position: absolute;
    height: 2.1vh;
    color: #d2d2d2;
    bottom: 1vh;
    z-index: 1;
    font-size: 1.7vh;
}

.envelope-logo{
    height: 1.3vh;
    margin-bottom: -.1vh;
}

.env-buttons-text{
    margin: 1vh 1vh 0;
}

.dating-thought{
    color: cornflowerblue;
}

.html{
    font-family: 'Times New Roman', Times, serif;
    line-height: 0;
}

.html-1{
    color: blue;
}

.html-2{
    color: red;
}

.html-3{
    color: #9900ff;
    font-family: Arial, Helvetica, sans-serif;
}

.html-num{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-style: italic;
}

.html-name{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: italic;
    background-color: violet;
    color: blue;
}

.jiggle-envelope{
    animation: jiggle-envelope 0.25s ease-in-out;
     -webkit-animation: jiggle-envelope 0.25s ease-in-out;
    animation-fill-mode: forwards;
}

.peek-in-small{
    animation: peek-in-small 0.4s ease-in-out;
}

.peek-out-small{
    animation: peek-out-small 0.25s ease-in-out;
    -webkit-animation: peek-out-small 0.25s ease-in-out;
    animation-fill-mode: forwards;
}

.bounce-in-big{
    animation: bounce-in-big 0.75s ease-in-out;
    -webkit-animation: bounce-in-big 0.75s ease-in-out;
}

.bounce-out-big{
    animation: bounce-out-big 0.75s ease-in-out;
   -webkit-animation: bounce-out-big 0.75s ease-in-out;
}

.flip-out{
    animation: flip-out 0.5s ease-in-out;
   -webkit-animation: flip-out 0.5s ease-in-out;
}

.envelope-hint{
    animation: envelope-hint 3s infinite ease-in-out;
    -webkit-animation: envelope-hint 3s infinite ease-in-out;
}

.shake{
    animation: shake .4s;
    -webkit-animation: shake .4s;
}

@keyframes jiggle-envelope {
    0% {
      transform: rotate(45deg);
    }
    20% {
        transform: rotate(47deg);
    }
    75% {
        transform: rotate(43deg);
    }
    100% { transform: rotate(45deg); }
}

@keyframes peek-in-small {
    0% {
        bottom: -15vh;
    }
    85% {
        bottom: -2vh;
    }
    100% { bottom: -3vh; }
}

@keyframes peek-out-small {
    0% {
        bottom: -3vh;
    }
    15% {
        bottom: -2vh;
    }
    100% { bottom: -15vh; }
}

@keyframes bounce-in-big{
    0% {
        transform: translateY(100vh);
      }
      70% {
        transform: translateY(-2.09vh);
      }
      100% { transform: translateY(0); }
}

@keyframes bounce-out-big{
    0% {
        transform: translateY(0);
      }
    30% {
        transform: translateY(-2.09vh);
    }
    100% { transform: translateY(100vh); }
}

@keyframes flip-out{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes timer-spin{
    100%{
        transform: rotate(3600deg);
        -webkit-transform: rotate(3600deg);
        -moz-transform: rotate(3600deg);
    }
}

@keyframes timer-move{
    0%{
        margin-top: 0vh;
        margin-left: 0vh;
    }
    100%{
        margin-top: -70vh;
        margin-left: -10vh;
    }
}

@keyframes envelope-hint{
    0%{
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.45)) drop-shadow(0px 0px 10px yellow);
    }
    50%{
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.45)) drop-shadow(0px 0px 50px yellow);
    }
    100%{
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.45)) drop-shadow(0px 0px 10px yellow);
    }
}

@keyframes cursor-pump{
    0%{
        right: 3vh;
    }
    50%{
        right: 2.5vh;
    }
    100%{
        right: 3vh
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }