
#oven{
    width: 90%;
    max-width: 1000px;
    margin: 3% 0% 0 0%;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35))
}

.oven-row-container{
    background-color: #D9D9D9;
    height: 14.08vh;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#oven-row-container-0{
    height: 21.1vh;
    max-height: 225px;
    clip-path: polygon(
        0 25%,
        13% 0,
        87% 0,
        100% 25%,
        100% 100%,
        0% 100%,
        0% 10%
    )
}

.oven-row{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10.32vh;
    max-height: 110px;
    width: 95%;
    background-image: url('/images/oven-row-bg.svg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 2.092vh;
}

.loaf-container{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loaf{
    width: 13.5vh;
    height: 8vh;
    border-radius: 7.32vh 7.32vh 2.615vh 2.615vh;
    background-color: #FFE7B7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.046vh;
}

.baking{
    animation: glow 3s infinite ease-in-out;
    background-image: url('/images/bread_shade.png');
    background-size: 100%
}

.loaf-button{
    appearance: button;
    background-color: #4c9d27;
    border: solid transparent;
    border-radius: 1.67vh;
    border-width: 0 0 0.418vh;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 2.6vh;
    margin-bottom: 1.56vh;
    outline: none;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 8.45vh;
    height: 3.75vh;
}

.loaf-button:after {
    background-clip: padding-box;
    border: solid transparent;
    background-color: #6EE835;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
  

.loaf-button:hover{
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.done{
    box-shadow: 0 0 16px #fff1a0;
    background-image: url('/images/bread_shade.png');
    background-size: 100%
}

.done-anim{
    animation: shake 0.25s ease-in-out;
}

.empty{
    background-color: white;
}

.empty-slot{
    width: 18%;
    padding: 2%;
    margin: 1%;
    background-color: rgb(0, 0, 0, 0.2);
    height: 3.76vh;
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes glow {
	0%,100% {
		box-shadow: inset 0 0 20px 8px #b37333;
	}
	50% {
		box-shadow: inset 0 0 2px 2px #b37333a9;
	}
}