
#oven{
    width: 90%;
    max-width: 1000px;
    margin: 3% 0% 0 0%;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35))
}

.oven-row-container{
    background-color: #D9D9D9;
    height: 14.08vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

#oven-row-container-0{
    height: 21.1vh;
    max-height: 255px;
    clip-path: polygon(
        0 25%,
        13% 0,
        87% 0,
        100% 25%,
        100% 100%,
        0% 100%,
        0% 10%
    )
}

.oven-row{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10.32vh;
    width: 95%;
    background-image: url('/images/oven-row-bg.svg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 2.092vh;
}

.loaf-container{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loaf-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 95%;
}

.loaf{
    min-height: 8vh; 
}

.loaf-button{
    margin-top: 1.8vh;
    position: absolute;
    appearance: button;
    background-color: #4c9d27;
    border: solid transparent;
    border-radius: 1.67vh;
    border-width: 0 0 .5vh;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 2.6vh;
    outline: none;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 8.45vh;
    height: 3.75vh;
}

.loaf-button:after {
    background-clip: padding-box;
    border: solid transparent;
    background-color: #6EE835;
    border-radius: 1.67vh;
    border-width: 0 0 .5vh;
    bottom: -.55vh;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
  

.loaf-button:hover{
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.loaf-button:active {
    border-width: 4px 0 0;
    background: none;
}

.done{
    filter: drop-shadow(0 0 8px #fff1a0);
}

.done-anim{
    animation: loaf-shake 0.25s ease-in-out;
}

.stencil-empty{
    min-height: 8vh;
}

.empty-slot{
    width: 18%;
    padding: 2%;
    margin: 1%;
    background-color: rgb(0, 0, 0, 0.2);
    height: 3.76vh;
}

#oven-engravement{
    position: absolute;
    height: 2.1vh;
    width: 100%;
    bottom: 0vh;
    z-index: 1;
    font-size: 1.3vh;
    color: rgb(147, 147, 147);
    display: flex;
    align-items: center;
    justify-content: center;
}

.oven-engravement-img{
    height: 1.3vh;
    margin-left: .5vh;
}

.loaf-breathe{
    -webkit-animation: loaf-breathe 5s infinite ease-in-out;
    -moz-animation: loaf-breathe 5s infinite ease-in-out;
    animation: loaf-breathe 5s infinite ease-in-out;
}

.timer-mode{
    position: absolute;
    width: 8.45vh;
    height: 3.75vh;
    /*border-radius: 7.32vh 7.32vh 2.615vh 2.615vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.6) 25%,rgba(0, 0, 0, 0.8));*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaf-timer{
    height: 2.5vh;
    margin-left: .3vh;
}

.timer-mode-button{
    margin-top: 1.8vh;
    position: absolute;
    display: flex;
    background-color: #d4ad1f;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5vh;
    font-weight: 400;
}

.timer-mode-button:after{
    background-color: #e8e435
}

.not-enough-timers{
    color:  rgb(138, 138, 138);
    background-color: rgb(168, 168, 168);
}

.not-enough-timers:after{
    background-color: #dadada;
}

.not-enough-timers:hover {
    filter: none;
    -webkit-filter: none;
}

.loaf-hint{
    filter: 
        drop-shadow(-.2vh -.2vh 0px white) 
        drop-shadow(.3vh -.2vh 0px white) 
        drop-shadow(.2vh .2vh 0px white)
        drop-shadow(-.2vh .2vh 0px white)
}

.loaf-text-anim{
    position: absolute;
    z-index: 1;
    font-size: 2vh;
    color: rgb(53 53 53);
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    text-align: right;
    top: 1vh;
    right: 1.2vh;
}

#sell-all-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2.5vh;
}

#sell-all-button{
    box-shadow: 0 .2vh 0 .3vh #352d2d, 0 .7vh 0 .45vh #1f1f1f;
    cursor: pointer;
    background-color: #c0392b;
    position: absolute;
    border-radius: 50%;
    right: 11%;
    width: 6vh;
    height: 2.5vh;
    transform: translateX(-50%);
}

#sell-all-button::before{
    content: '';
    z-index: 1;
    border-radius: 50%;
    background-color: #e74c3c;
    position: absolute;
    bottom: 35%;
    left: 0%;
    width: 6vh;
    height: 2.5vh;
    transition: bottom .1s;
}

#sell-all-button::after{
    content: '';
    background-color: #c0392b;
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 6vh;
    height: 1vh;
    transition: height .1s;
}

#sell-all-button:active::before{
    bottom: 10%;
}

#sell-all-button:active::after{
    height: 10%;
}

#sell-all-button.disabled{
    filter: grayscale(50%);
}

#sell-all-button.disabled::after{
    height: 25%;
}

#sell-all-button.disabled::before{
    bottom: 25%;
}

@keyframes loaf-shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes loaf-breathe {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}