:root {
    --wait-seconds: 4s;
    --wait-seconds-half: 2s;

}

.wait-container{
    width: 50px;
    height: 50px;
    margin: 30px auto;
    position: absolute;
    z-index: 1;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.wait-done{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff70a;
}

.wait-transition{
    cursor: pointer;
}

.wait-activated{
    cursor: none;
    -webkit-animation: breathe 5s infinite ease-in-out;
    -moz-animation: breathe 5s infinite ease-in-out;
    animation: breathe 5s infinite ease-in-out;
}

.wait-half{
    background-color: #c2c2c2;
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 50px, 50px, 25px);
    border-radius: 100%;
}

#wait-div{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fill{
    background-color: #fff70a;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 25px, 50px, 0px);
}

.left .fill {
    z-index: 1;
    -webkit-animation: left var(--wait-seconds-half) linear;
    -moz-animation: left var(--wait-seconds-half) linear;
    animation: left var(--wait-seconds-half) linear both;
}

.right .fill {
    -webkit-animation: right var(--wait-seconds-half) linear;
    -moz-animation: right var(--wait-seconds-half) linear;
    animation: right var(--wait-seconds-half) linear both;
    -webkit-animation-delay: var(--wait-seconds-half);
    -moz-animation-delay: var(--wait-seconds-half);
    animation-delay: var(--wait-seconds-half);
}

.hand-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand{
    z-index: 10;
}

.slow-fade{
    -webkit-animation: slow-fade var(--wait-seconds) linear;
    -moz-animation: slow-fade var(--wait-seconds) linear;
    animation: slow-fade var(--wait-seconds) linear both;
}

@keyframes left {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}

@keyframes right {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}

@keyframes breathe {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
}

@keyframes slow-fade{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}