#wallet{
  height: 45%;
  font-size: 2.6vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#click-container{
    height: 3.66vh;
    padding-top: 3.66vh;
}

#bread-list-title{
  padding-bottom: 1.04vh;
}

#supply-list-title{
  padding-top: 1.04vh;
}

#convert-keys{
  width: 29.28vh;
  background-color: #c54141;
}

#convert-keys:after{
  background-color: #ef5c5c;
}

#convert-clicks{
  width: 29.28vh;
  background-color: #4c9d27;
}

#convert-clicks:after{
  background-color: #6EE835
}

.green{
  max-width: 21.97vh;
  white-space: wrap;
  background-color: #4c9d27;
}

.green:after{
  background-color: #6EE835;
}

.red{
  max-width: 21.97vh;
  word-wrap: break-word;
  background-color: #c54141;
}

.red:after{
  background-color: #ef5c5c;
}

.button{
    appearance: button;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6vh;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 2.09vh;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-top: 2.09vh;
    height: fit-content;
    min-height: 5.23vh;
}

.button:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active {
  border-width: 4px 0 0;
  background: none;
}

.timer-icon{
    position: absolute;
    width: 3vh;
    margin-left: 1vh;
    margin-bottom: -0.5vh;
}

.timer-icon-hover:not(.timer-icon-clicked){
    position: absolute;
    filter: brightness(1.1);
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.timer-icon-gray{
    filter: grayscale(1);
    pointer-events: none;
}

#timer-icon{
    z-index: 2;
    position: relative;
}

#timer-icon-copy{
    position: absolute;
    pointer-events: none;
}

#timers-wallet{
    width: fit-content;
}

.wallet-timer-move{
    position: absolute;
    animation: wallet-timer-move 0.25s ease-in;
    -webkit-animation: wallet-timer-move 0.25s ease-in;
}

@keyframes wallet-timer-move{
    0%{
        top: -40vh;
    }
    100%{
        top: 0vh;
        transform: rotate(720deg);
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
    }
}